{% extends "base.html" %}

{% block title %}{{ _('Server error') }}{% endblock %}

{% block content %}
<main class="error-page">
    <header>
        <img src="{{ url_for('static', filename='images/MunchiesLogoPlain.svg') }}" alt="Munchies Logo">
    </header>
    <div class="error-content">
        <h1>{{ _('500 - Server error') }}</h1>
        <p>{{ _("We're sorry, but a server error occurred. Please try again later.") }}</p>
        <a href="{{ url_for('index') }}" class="action-button">{{ _('Return to Home') }}</a>
    </div>
</main>
{% endblock %}
