<!DOCTYPE html>
<html lang="{{ session.get('language', 'pl') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %}
    <title>{% block title %}Munchies Kiosk{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=1) }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block styles %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="error-container"></div>
    {% block content %}{% endblock %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js', v=1) }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
