body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.language-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-buttons a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

.logo img {
    max-width: 200px;
    margin-bottom: 20px;
    height: auto; /* Zapewnia proporcjonalne skalowanie */
}

/* Opcjonalnie, jeśli chcesz manipulować kolorami SVG */
.logo img {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.3)); /* Dodaje cień */
}

.start-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.kiosk-status {
    color: #dc3545;
}