<!DOCTYPE html>
<html lang="{{ session.get('language', 'pl') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ _('Server error') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', v=1) }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <main class="error-page">
        <header>
            <img src="{{ url_for('static', filename='images/MunchiesLogoPlain.svg') }}" alt="Munchies Logo">
        </header>
        <div class="error-content">
            <h1>{{ _('500 - Server error') }}</h1>
            <p>{{ _("We're sorry, but a server error occurred. Please try again later.") }}</p>
            <a href="{{ url_for('index') }}" class="action-button">{{ _('Return to Home') }}</a>
        </div>
    </main>
</body>
</html>
