<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('Kiosk Munchies') }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="language-selector">
            <button onclick="changeLanguage('pl')">PL</button>
            <button onclick="changeLanguage('en')">EN</button>
            <button onclick="changeLanguage('uk')">UK</button>
        </div>
    </header>
    
    <main>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Munchies Logo" class="logo">
        </div>
        
        {% if aps_state == 'active' %}
            <button id="start-button" class="start-button">{{ message }}</button>
        {% else %}
            <p class="error-message">{{ _('Kiosk jest chwilowo wyłączony') }}</p>
            <p class="additional-info">{{ additional_info }}</p>
        {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/start_screen.js') }}"></script>
</body>
</html>